<head>
    <title>Troca de selos do MCD</title>
    <script type="text/javascript" src="http://cidades-estados-js.googlecode.com/files/cidades-estados-1.2-utf8.js"></script>
    <style>
    	.center { float: none; margin-left: auto; margin-right: auto; }
    	.form-horizontal .controls {
		  margin-left: 100px;
		}
		.form-horizontal .control-label {
			width: auto;
		}
    </style>
</head>

<body>
    <div class="container">
        {{> template}}

        <div class="alert alert-success" style="display: none;">
		    <button type="button" class="close" data-dismiss="alert">&times;</button>
		    <p></p>
		</div>
		<div class="row">
			<div class="span8 center">
		        {{#constant}}
				<iframe src="/bidvertiser.html" style="width: 100%; overflow: hidden;" frameborder="0" scrolling="no"></iframe>
				{{/constant}}

		        {{#if currentUser}}
		        {{> profile}}
		        <hr/>
		        {{> people}}
		        {{else}}
		        {{> index}}
		        {{/if}}
			</div>
		</div>
    </div>
</body>

<template name="index">
    <div class="hero-unit" style="text-align: center;">
        <h1>Troque selos do MCD facilmente!</h1>
        <p>Utilizando este site você pode procurar por pessoas que tenham o selo que você precisa e compartilhar seus selos.
            Faça login com sua conta do Facebook para que assim fique fácil de manter contato com as pessoas.</p>
            <a id="fb-login" class="btn btn-primary btn-large" href="#">Login com o Facebook</a>
    </div>
</template>

<template name="template">
    <div class="navbar" id="top-navbar">
        <div class="navbar-inner">
            <a class="brand" href="#"> Troque selos do MCD</a>
            <ul class="nav">
                <li>
                    <a id="contact" href="#"> Contato</a>
                </li>
            </ul>
            <ul class="nav pull-right">
                <li>
                    {{loginButtons}}
                </li>
            </ul>
        </div>
    </div>
</template>

<template name="profile">
	<div class="row">

	    <div class="span4">
	        <h1>
	            Meus selos
	        </h1>
	        <ul>
	            {{#each numbers}}
	            <li>
	                <button class="number btn {{class}}">
	                    {{val}}
	                </button>
	            </li>
	            {{/each}}
	        </ul>
	    </div>
	    <div class="span4">
	    	<h1>
                Minha localização
            </h1>
			<form id="my-locale" class="form-horizontal">
				<fieldset>
				<div class="control-group">
				  <label class="control-label">Meu estado:</label>
				  <div class="controls">
				    <select class="state" name="state"></select>
				  </div>
				</div>

				<div class="control-group">
				  <label class="control-label">Minha cidade:</label>
				  <div class="controls">
				    <select class="city" name="city"></select>
				  </div>
				</div>
				<div class="control-group">
				  <div class="controls">
				    <button id="save_location" name="save_location" class="btn btn-primary">Salvar</button>
				  </div>
				</div>

				</fieldset>
			</form>

	    </div>
	</div>
</template>

<template name="people">
	<div class="row">
	    <div class="span4">
	        <h1>
	            Procurar selos
	        </h1>
	        <p>Faça a busca apenas uma vez que a lista se atualizará sozinha.</p>
	        <div id="search" class="input-append">
	            <input type="text" class="input-xlarge" name="number" value="700,701,702,703,704,705,706,707,708,709,710,711,712,713,714,715,716,717,718,719,720,721,722,723">
	            <button class="btn"><i class="icon-search"></i></button>
	        </div>
	    </div>
	    <!-- <div class="span4">
	    	<h1>Filtro por localização</h1>
	    	<form id="locale-filter" class="form-horizontal">
                <fieldset>
                <div class="control-group">
                  <label class="control-label">Estado:</label>
                  <div class="controls">
                    <select class="state" name="state"></select>
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label">Cidade:</label>
                  <div class="controls">
                    <select class="city" name="city"></select>
                  </div>
                </div>
                <div class="control-group">
                  <div class="controls">
                    <button id="apply_filter" class="btn btn-primary">Filtrar</button>
                  	<button id="remove_filter" class="btn btn-danger">Remover filtros</button>
                  	<button id="restore_filter" class="btn btn-success" style="display: none;">Restaurar filtros</button>
                  </div>
                </div>

                </fieldset>
            </form>
	    </div> -->
    </div>
    <div class="row">

	    <div id="people-list" class="span8">

	        <ul>
	            {{#each list}}
	                <li id="{{owner}}">
	                   {{#with profile owner}}
	                       <h2><img src="http://graph.facebook.com/{{this.uid}}/picture?type=square" /><a href="https://www.facebook.com/{{this.uid}}" target="_blank">{{this.name}}</a></h2>
	                       <p>Estado: {{this.state}} - Cidade: {{this.city}}</p>
	                   {{/with}}
	                   <p>Tem os selos: {{numbers}}</p>
	                   <button class="btn btn-primary send-msg">Enviar mensagem</button>
	                   <hr/>
	                </li>
	            {{else}}
	                Ninguém cadastrado com esse selo.
	            {{/each}}
	        </ul>
	    </div>
	</div>

	<div id="betaModal" class="modal hide fade">
	    <div class="modal-header">
	            <button class="close" data-dismiss="modal">×</button>
	            <h3>Envie uma mensagem</h3>
	    </div>
		<div class="modal-body">
		    <div class="row-fluid">
		        <div class="span12">
		            <div class="span9">
		            <div class="logowrapper">
		                <textarea cols="30" rows="15" style="width: 95%;"></textarea>
		            </div>
		            </div>
		            <div class="span3">
		                <form class="form-horizontal">
		                    <div class="help-block">
		                        <button type="submit" class="btn btn-large btn-info">Enviar</button>
		                    </div>
		                </form>
		            </div>
		        </div>
		    </div>
		</div>
	    <div class="modal-footer">
	        <i>Nota: seu e-mail será divulgado junto com a mensagem.</i>
	    </div>
	</div>
</template>
